.aurora-main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    /* bg-zinc-50 */
    color: #020617;
    /* text-slate-950 */
    overflow: hidden;
    transition: background-color 0.3s;
}

.aurora-bg-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
}

.aurora-effect {
    /* Custom Properties */
    --white: #ffffff;
    --black: #000000;
    --transparent: transparent;
    --blue-500: #3b82f6;
    --indigo-300: #a5b4fc;
    --blue-300: #93c5fd;
    --violet-200: #ddd6fe;
    --blue-400: #60a5fa;

    --white-gradient: repeating-linear-gradient(100deg,
            var(--white) 0%,
            var(--white) 7%,
            var(--transparent) 10%,
            var(--transparent) 12%,
            var(--white) 16%);

    --aurora: repeating-linear-gradient(100deg,
            var(--blue-500) 10%,
            var(--indigo-300) 15%,
            var(--blue-300) 20%,
            var(--violet-200) 25%,
            var(--blue-400) 30%);

    position: absolute;
    inset: -10px;
    opacity: 0.5;
    will-change: transform;
    filter: blur(10px) invert(1);

    background-image: var(--white-gradient), var(--aurora);
    background-size: 300% 200%;
    background-position: 50% 50%, 50% 50%;

    animation: aurora 60s linear infinite;
}

.aurora-effect::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--white-gradient), var(--aurora);
    background-size: 200% 100%;
    background-attachment: fixed;
    mix-blend-mode: difference;
    animation: aurora 60s linear infinite;
}

.aurora-radial-mask {
    mask-image: radial-gradient(ellipse at 100% 0%, black 10%, transparent 70%);
    -webkit-mask-image: radial-gradient(ellipse at 100% 0%, black 10%, transparent 70%);
}

@keyframes aurora {
    from {
        background-position: 50% 50%, 50% 50%;
    }

    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.auth-content-wrapper {
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
}